---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'e-Commerce Website Develoment | Brandify Media',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
  tagline="e-Commerce Site Development"
  actions={[
    { variant: 'primary', target: '_blank', text: 'Get Started', href: '/contact' },
    { text: 'Learn more', href: '#features' },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'AstroWind Hero Image',
  }}
>
  <Fragment slot="title">
    Elevate Your Online Store with <br /> <span class="text-accent dark:text-white highlight"
      >Professional e-Commerce Solutions</span>
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
    <span class="font-semibold">Turn browsers into buyers </span>with our comprehensive e-commerce site development services.</span
    >
    From user-friendly interfaces to secure payment gateways, we create e-commerce sites that drive sales and delight customers. 
  </Fragment>
</Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Strategically Achieve Your Online Store Business Goals"
    subtitle="Our e-commerce site development service is designed to help businesses establish a strong online presence and sell products or services effectively. Whether you're a small boutique or a large enterprise, we have the expertise to build an e-commerce site that meets your needs and exceeds your expectations."
    tagline="Service Overview"
    columns={2}
    items={[
      {
        title: 'Increased Sales',
        description: `Boost revenue and grow your business with an e-commerce site that makes it easy for customers to find and purchase products. `,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Enhanced Customer Experience',
        description:
          'Provide a seamless shopping experience across all devices, from browsing to checkout.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Secure Transactions',
        description: 'Protect sensitive customer information and ensure safe transactions with robust security measures and PCI compliance.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Scalability',
        description: `Scale your e-commerce site as your business grows, with the ability to add new products, features, and functionalities as needed.`,
        icon: 'tabler:square-number-4',
      },
      {
        title: 'Global Reach',
        description: `Reach customers around the world and expand your market reach with an e-commerce site that is accessible 24/7.`,
        icon: 'tabler:square-number-5',
      },
      {
        title: 'Cost-Efficiency',
        description: ` Save on overhead costs associated with brick-and-mortar stores while reaching a wider audience and maximizing your return on investment (ROI).`,
        icon: 'tabler:square-number-6',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: '1.	Concept & Planning',
        description:
          'We start by understanding your app idea and business objectives, conducting market research to identify opportunities and challenges.',
        icon: 'tabler:wand',
      },
      {
        title: '2.	Design & Development',
        description:
          'Our team of designers and developers work together to create a visually stunning and highly functional mobile app that aligns with your brand and goals.',
        icon: 'tabler:settings',
      },
      {
        title: '3.	Testing & Quality Assurance',
        description:
          'We conduct rigorous testing to ensure your mobile app functions flawlessly across different devices and platforms, addressing any issues before launch.',
        icon: 'tabler:template',
      },
      {
        title: '4.	Launch & Deployment',
        description: 'Once everything is tested and approved, we launch your mobile app to the app stores, ensuring a smooth and successful release.',
        icon: 'tabler:rocket',
      },
      {
        title: '5.	Support & Maintenance',
        description: 'We provide ongoing support and maintenance to keep your mobile app running smoothly and efficiently, with regular updates and enhancements.',
        icon: 'tabler:tools',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">What to expect:</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Cross-Platform Compatibility',
        description:"Develop mobile apps that are compatible with multiple operating systems, including iOS and Android, to reach a broader audience and maximize your app's market potential.",
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Offline Functionality',
        description:
          "Implement offline capabilities into your mobile app, allowing users to access certain features and content even when they're not connected to the internet. This enhances user experience and ensures uninterrupted usage in areas with limited connectivity.",
        icon: 'tabler:file-download',
      },
      {
        title: 'Push notifications',
        description: " Integrate push notification functionality into your mobile app to engage users, deliver real-time updates, and re-engage inactive users. Push notifications can be personalized and targeted based on user behavior, preferences, and location, increasing user retention and app engagement.",
        icon: 'tabler:refresh',
      },
      {
        title: 'App Analytics & Insights',
        description: " Incorporate analytics tools into your mobile app to track user behavior, gather actionable insights, and measure key performance metrics. By analyzing user interactions, usage patterns, and app performance, you can make data-driven decisions to optimize your app and enhance user experience.",
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">More features</h3>
    </Fragment>
  </Content>

   <!-- Brands Widget ****************** -->

   <Brands
   title="We leverage cutting-edge and latest web technologies"
   subtitle="Discover the robust web technologies we harness to create dynamic and engaging online experiences."
   icons={[]}
   images={[
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/astrojs.svg',
       alt: 'AstroJS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/node.svg',
       alt: 'NodeJS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/react.svg',
       alt: 'React',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/mongodb.svg',
       alt: 'MongoDB',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/amazon-web-services.svg',
       alt: 'Amazon Web Services',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/DigitalOcean.svg',
       alt: 'DigitalOcean',
     },
   ]}
 />


<!-- Testimonials Widget *********** -->

<Testimonials
title="What our clients say?"
testimonials={[
  {
    testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
    name: 'Cary Kennedy',
    job: 'Film director',
    image: {
      src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Cary Kennedy Image',
    },
  },
  {
    testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
    name: 'Josh Wilkinson',
    job: 'Product Manager',
    image: {
      src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Josh Wilkinson Image',
    },
  },
  {
    testimonial:
      'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
    name: 'Sidney Hansen',
    job: 'Decorator',
    image: {
      src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Sidney Hansen Image',
    },
  },
]}
callToAction={{
  target: '_blank',
  text: 'Share your experience',
  href: 'https://g.page/r/Cff6ZshVT8OXEBM/review',
  icon: 'tabler:chevron-right',
}}
/>
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions about Our Mobile App Development Services"
    items={[
      {
        title: 'What is mobile app development, and why is it important for businesses?',
        description:
          "Mobile app development involves creating software applications specifically designed to run on mobile devices such as smartphones and tablets. Mobile apps are crucial for businesses as they offer a direct channel to engage with customers, improve accessibility, enhance user experience, and drive brand loyalty and revenue.",
      },
      {
        title: 'How long does it take to develop a mobile app?',
        description:
          "The timeline for mobile app development varies depending on factors such as complexity, features, platform (iOS, Android, or cross-platform), and client requirements. Typically, development can take anywhere from a few weeks to several months.",
      },
      {
        title: "What platforms and technologies do you use for mobile app development?",
        description: "We specialize in developing native and hybrid mobile apps for iOS and Android platforms using technologies such as Swift and Objective-C for iOS development and Java and Kotlin for Android development. Additionally, we utilize cross-platform frameworks like React Native, Ionic Framework and Flutter for building apps that work across multiple platforms.",
      },
      {
        title: "Can you provide examples of mobile apps you've developed in the past?",
        description:
          "Yes, we have an extensive portfolio showcasing various mobile apps we've developed for clients across industries. You can explore examples of our work on our website or request case studies to see how we've solved specific challenges for our clients.",
      },
      {
        title: "How do you ensure the security and performance of mobile apps?",
        description:
          "We follow industry best practices for security and performance throughout the development process. This includes implementing encryption protocols, secure authentication mechanisms, and regular security audits to protect user data. Additionally, we optimize app performance by minimizing load times, optimizing code, and conducting thorough testing on various devices and network conditions.",
      },
      {
        title: "Do you provide ongoing maintenance and support services for mobile apps after they're launched?",
        description:
          "Yes, we offer comprehensive maintenance and support services to ensure your mobile app remains secure, up-to-date, and performing optimally post-launch. Our support team is available to address any issues, implement updates, and provide technical assistance as needed to ensure the long-term success of your app.",
      },
    ]}
  />

 <!-- CallToAction Widget *********** -->

 <CallToAction
 actions={[
   {
     variant: 'primary',
     text: 'Get Started',
     href: '/contact',
     target: '_blank',
     icon: 'tabler:check',
   },
 ]}
>
 <Fragment slot="title">
  Transform your business with your very Mobile App<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
 </Fragment>

 <Fragment slot="subtitle">
   Discover how our innovative solutions can take your business to new heights. <br class="hidden md:inline" />Let's collaborate to create a mobile app tailored to your needs.
 </Fragment>
</CallToAction>
</Layout>
