---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Payment Gateway Integration | Brandify Media',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
  tagline="Payment Gateway Integrations"
  actions={[
    { variant: 'primary', target: '_blank', text: 'Get Started', href: '/contact' },
    { text: 'Learn more', href: '#features' },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'Brandify Hero Image',
  }}
>
  <Fragment slot="title">
    <span class="text-accent dark:text-white highlight"
      >Seamless Payment Solutions</span> for your Online Business
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
    <span class="font-semibold">Streamline your online transactions </span>and boost sales with our secure payment gateway integrations.</span
    >
    From credit cards to digital wallets, we make it easy for customers to pay for your products or services. 
  </Fragment>
</Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Maximize Your Revenue Potential"
    subtitle="Our payment gateway integration service allows businesses to accept online payments securely and efficiently. Whether you're selling products or services, we have the expertise to integrate the right payment solution for your needs."
    tagline="Service Overview"
    columns={2}
    items={[
      {
        title: 'Increased Sales',
        description: `Make it easy for customers to complete transactions and increase conversions with a seamless payment experience.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Versatile Payment Options',
        description:
          'A variety of payment methods, including credit/debit cards, digital wallets, and alternative payment solutions, to cater to diverse preferences and increase purchase flexibility.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Security',
        description: 'Protect sensitive customer information and prevent fraud with our secure payment gateway integrations.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Compliance',
        description: `Ensure compliance with industry regulations and standards, such as PCI DSS, to protect your business and customers.`,
        icon: 'tabler:square-number-4',
      },
      {
        title: 'Global Reach',
        description: `Accept payments from customers around the world with support for multiple currencies and languages.`,
        icon: 'tabler:square-number-5',
      },
      {
        title: 'UI Customization',
        description: `Customize your payment gateway to match your brand and meet your specific requirements, with options for branding, styling, and more.`,
        icon: 'tabler:square-number-6',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: '1.	Assessment',
        description:
          'We start by assessing your business requirements and objectives, identifying the right payment gateway solution for your needs.',
        icon: 'tabler:wand',
      },
      {
        title: '2.	Integration',
        description:
          "Based on our assessment, we integrate the chosen payment gateway into your website or e-commerce platform, ensuring seamless functionality and user experience.",
        icon: 'tabler:settings',
      },
      {
        title: '3.	Testing',
        description:
          "We conduct thorough testing to ensure that the payment gateway is functioning correctly and securely, with no errors or issues.",
        icon: 'tabler:template',
      },
      {
        title: '4.	Training & Support',
        description: "Once the integration is complete, we provide training and support to help you manage and maintain your payment gateway effectively.",
        icon: 'tabler:rocket',
      },
      {
        title: '5.	Optimization',
        description: "We continuously monitor and optimize your payment gateway to ensure optimal performance and security, with regular updates and enhancements.",
        icon: 'tabler:tools',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">How it works:</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Seamless Checkout Experience',
        description:"Implement a smooth and intuitive checkout process that reduces friction and cart abandonment, enhancing user satisfaction and boosting conversions.",
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Recurring Billing Support',
        description:
          "Enable subscription-based or recurring billing models by integrating functionality for automated, scheduled payments, ideal for businesses offering subscription services or memberships.",
        icon: 'tabler:file-download',
      },
      {
        title: 'Fraud Prevention Measures',
        description: "Utilize advanced fraud detection and prevention tools to mitigate the risk of fraudulent transactions, safeguarding both your business and your customers' sensitive information.",
        icon: 'tabler:refresh',
      },
      {
        title: 'Real-Time Transaction Monitoring',
        description: "Provide real-time monitoring and reporting capabilities to track transactions, detect anomalies, and gain insights into payment trends and patterns, empowering informed decision-making and risk management.",
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">More features</h3>
    </Fragment>
  </Content>

   <!-- Brands Widget ****************** -->

   <Brands
   title="We leverage cutting-edge and latest web technologies"
   subtitle="Discover the robust web technologies we harness to create dynamic and engaging online experiences."
   icons={[]}
   images={[
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/astrojs.svg',
       alt: 'AstroJS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/node.svg',
       alt: 'NodeJS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/react.svg',
       alt: 'React',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/mongodb.svg',
       alt: 'MongoDB',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/amazon-web-services.svg',
       alt: 'Amazon Web Services',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/DigitalOcean.svg',
       alt: 'DigitalOcean',
     },
   ]}
 />


<!-- Testimonials Widget *********** -->

<Testimonials
title="What our clients say?"
testimonials={[
  {
    testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
    name: 'Cary Kennedy',
    job: 'Film director',
    image: {
      src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Cary Kennedy Image',
    },
  },
  {
    testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
    name: 'Josh Wilkinson',
    job: 'Product Manager',
    image: {
      src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Josh Wilkinson Image',
    },
  },
  {
    testimonial:
      'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
    name: 'Sidney Hansen',
    job: 'Decorator',
    image: {
      src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Sidney Hansen Image',
    },
  },
]}
callToAction={{
  target: '_blank',
  text: 'Share your experience',
  href: 'https://g.page/r/Cff6ZshVT8OXEBM/review',
  icon: 'tabler:chevron-right',
}}
/>
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions about Our Payment Gateway Integration"
    items={[
      {
        title: 'What is payment gateway integration, and why do businesses need it?',
        description:
          "Payment gateway integration connects an e-commerce website or application to a payment processor, enabling secure online transactions. Businesses need it to accept payments conveniently and securely, facilitating sales and revenue generation.",
      },
      {
        title: 'How long does it typically take to integrate a payment gateway?',
        description:
          "The timeline varies based on complexity and customization needs, but typically takes a few days to a few weeks for seamless integration.",
      },
      {
        title: "Which payment gateway providers do you support?",
        description: "We support integration with leading providers such as AmazonPay, Payfort, PayPal, Stripe, Authorize.Net, and Square, among others.",
      },
      {
        title: "How do you ensure the security of payment transactions?",
        description:
          "We prioritize security with industry-standard encryption, PCI DSS compliance, and advanced fraud detection measures to protect transactions and customer data.",
      },
      {
        title: "Can you integrate multiple payment methods and currencies?",
        description:
          "Yes, we can integrate various payment methods like credit cards, digital wallets, and bank transfers, along with multi-currency support for global transactions.",
      },
      {
        title: "Do you provide ongoing support for payment gateway integrations?",
        description:
          "Yes, we offer comprehensive support and maintenance services to ensure continued reliability and functionality, addressing any issues and implementing updates as needed.",
      },
    ]}
  />

 <!-- CallToAction Widget *********** -->

 <CallToAction
 actions={[
   {
     variant: 'primary',
     text: 'Get Started',
     href: '/contact',
     target: '_blank',
     icon: 'tabler:check',
   },
 ]}
>
 <Fragment slot="title">
  Start to streamline your online transactions and boost sales!<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
 </Fragment>

 <Fragment slot="subtitle">
   <br class="hidden md:inline" />Discuss your payment gateway integration needs and get started.
 </Fragment>
</CallToAction>
</Layout>
