---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Search Engine Optimization | Brandify Media',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
  tagline="SEO Services"
  actions={[
    { variant: 'primary', target: '_blank', text: 'Get Started', href: '/contact' },
    { text: 'Learn more', href: '#features' },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'Brandify Hero Image',
  }}
>
  <Fragment slot="title">
    <span class="text-accent dark:text-white highlight"
      >Get found by more customers</span> and drive organic traffic to your website.
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
    <span class="font-semibold">From keyword research to content optimization, </span>we'll help you climb the search engine rankings and grow your business. </span
    >
    Boost Your Online Visibility with Expert SEO Services 
  </Fragment>
</Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Maximize Your Website's Visibility and Ranking with SEO"
    subtitle="Our SEO services are designed to improve your website's visibility and ranking on search engines like Google, Bing, and Yahoo. We use proven strategies and best practices to optimize your website for relevant keywords and drive organic traffic to your site."
    tagline="Service Overview"
    columns={2}
    items={[
      {
        title: 'Increased Visibility',
        description: `Improve your website's visibility in search engine results pages (SERPs) and get found by more potential customers.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Organic Traffic',
        description:
          'Drive targeted organic traffic to your website, increasing your chances of generating leads and conversions.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Trust & Authority',
        description: 'Build trust and authority with search engines and users by optimizing your website for relevant keywords and providing high-quality content.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Long-term Results',
        description: `Enjoy long-term results and sustainable growth with our strategic and data-driven approach to SEO.`,
        icon: 'tabler:square-number-4',
      },
      {
        title: 'Competitive Advantage',
        description: `Stay ahead of the competition and stand out in your industry with a strong SEO presence that attracts customers and drives business growth.`,
        icon: 'tabler:square-number-5',
      },
      {
        title: 'Enhanced Brand Visibility',
        description: `Strengthen your brand's online presence and increase brand awareness as your website climbs higher in search engine rankings, making it easier for customers to find and engage with your business.`,
        icon: 'tabler:square-number-6',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: '1.	Audit & Analysis',
        description:
          'We start by conducting a comprehensive audit of your website and analyzing your current SEO performance, identifying strengths, weaknesses, and opportunities for improvement.',
        icon: 'tabler:wand',
      },
      {
        title: '2.	Strategy Development',
        description:
          "Based on our findings, we develop a customized SEO strategy tailored to your business goals, target audience, and industry.",
        icon: 'tabler:settings',
      },
      {
        title: '3.	On-page Optimization',
        description:
          "We optimize your website's on-page elements, including meta tags, headings, and content, to improve its relevance and visibility for target keywords.",
        icon: 'tabler:template',
      },
      {
        title: '4.	Off-page Optimization',
        description: "We build high-quality backlinks and citations to your website from authoritative sources, increasing your site's authority and credibility in the eyes of search engines.",
        icon: 'tabler:rocket',
      },
      {
        title: '5.	Content Creation',
        description: "We create high-quality, SEO-friendly content for your website, including blog posts, articles, and landing pages, to attract and engage your target audience.",
        icon: 'tabler:tools',
      },
      {
        title: '6.	Monitoring & Reporting',
        description: "We monitor your website's performance and provide regular reports on key metrics, such as rankings, traffic, and conversions, to track progress and measure success.",
        icon: 'tabler:tools',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">What to Expect:</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Technical SEO',
        description:"Conducting thorough audits to address technical issues, optimize site structure, enhance speed, fix crawl errors, implement schema markup, and ensure proper indexing for improved search engine visibility and performance.",
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Local SEO Optimization',
        description:
          "Optimize your website for local search to attract customers in specific geographic areas, leveraging techniques such as local keyword targeting, Google My Business optimization, and citation building.",
        icon: 'tabler:file-download',
      },
      {
        title: 'Mobile Optimization',
        description: "Ensure your website is mobile-friendly and optimized for mobile search, enhancing user experience and performance on mobile devices, which is crucial for ranking well in search engine results pages (SERPs).",
        icon: 'tabler:refresh',
      },
      {
        title: 'Comprehensive Site Audit',
        description: "Conducting a thorough analysis of your website's current SEO performance, identifying strengths, weaknesses, and areas for improvement to develop an effective optimization strategy.",
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">More features</h3>
    </Fragment>
  </Content>

   <!-- Brands Widget ****************** -->

   <Brands
   title="We leverage cutting-edge and latest web technologies"
   subtitle="Discover the robust web technologies we harness to create dynamic and engaging online experiences."
   icons={[]}
   images={[
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/astrojs.svg',
       alt: 'AstroJS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/node.svg',
       alt: 'NodeJS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/react.svg',
       alt: 'React',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/mongodb.svg',
       alt: 'MongoDB',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/amazon-web-services.svg',
       alt: 'Amazon Web Services',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/DigitalOcean.svg',
       alt: 'DigitalOcean',
     },
   ]}
 />


<!-- Testimonials Widget *********** -->

<Testimonials
title="What our clients say?"
testimonials={[
  {
    testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
    name: 'Cary Kennedy',
    job: 'Film director',
    image: {
      src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Cary Kennedy Image',
    },
  },
  {
    testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
    name: 'Josh Wilkinson',
    job: 'Product Manager',
    image: {
      src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Josh Wilkinson Image',
    },
  },
  {
    testimonial:
      'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
    name: 'Sidney Hansen',
    job: 'Decorator',
    image: {
      src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Sidney Hansen Image',
    },
  },
]}
callToAction={{
  target: '_blank',
  text: 'Share your experience',
  href: 'https://g.page/r/Cff6ZshVT8OXEBM/review',
  icon: 'tabler:chevron-right',
}}
/>
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions about Our SEO Solutions"
    items={[
      {
        title: 'What is SEO, and why is it important for my website?',
        description:
          "SEO, or Search Engine Optimization, involves optimizing your website to improve its visibility and ranking on search engines like Google. It's essential for driving organic traffic to your site, increasing brand visibility, and attracting potential customers.",
      },
      {
        title: 'How long does it take to see results from SEO?',
        description:
          "The timeline for seeing SEO results varies based on factors like website age, competition, and optimization efforts. While some improvements may be noticeable within weeks, significant results typically take several months to achieve.",
      },
      {
        title: "What SEO strategies do you employ to improve website rankings?",
        description: "We use a variety of proven SEO strategies, including keyword research, on-page optimization, content creation, link building, technical optimization, and local SEO techniques to enhance website rankings and visibility.",
      },
      {
        title: "Can you guarantee first-page rankings on Google?",
        description:
          "While we cannot guarantee specific rankings, we strive to improve your website's visibility and ranking through ethical SEO practices and continuous optimization efforts aligned with search engine guidelines.",
      },
      {
        title: "How do you measure the success of SEO campaigns?",
        description:
          "We measure the success of SEO campaigns using key performance indicators (KPIs) such as organic traffic, keyword rankings, conversion rates, bounce rates, and ROI. Regular monitoring and analysis help us track progress and make data-driven optimizations.",
      },
      {
        title: "Do you offer ongoing SEO services and support?",
        description:
          "Yes, we provide ongoing SEO services to maintain and improve your website's search engine visibility over time. Our team continuously monitors performance, implements updates, and adjusts strategies to adapt to changing algorithms and market trends.",
      },
    ]}
  />

 <!-- CallToAction Widget *********** -->

 <CallToAction
 actions={[
   {
     variant: 'primary',
     text: 'Get Started',
     href: '/contact',
     target: '_blank',
     icon: 'tabler:check',
   },
 ]}
>
 <Fragment slot="title">
  Boost your online visibility and grow your business with SEO!<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
 </Fragment>

 <Fragment slot="subtitle">
   <br class="hidden md:inline" />Let's discuss your SEO needs and get started.
 </Fragment>
</CallToAction>
</Layout>
