---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Website Develoment | Brandify Media',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
  tagline="Web App Development"
  actions={[
    { variant: 'primary', target: '_blank', text: 'Get Started', href: '/contact' },
    { text: 'Learn more', href: '#features' },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'AstroWind Hero Image',
  }}
>
  <Fragment slot="title">
    Transform your Business with Custom<br /> <span class="text-accent dark:text-white highlight"
      >Web Applications</span>
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
    <span class="font-semibold">Take your business to new heights </span>with our tailored web application development services.</span
    >
    From streamlined processes to enhanced user experiences, we create web apps that drive efficiency and innovation. 
  </Fragment>
</Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Tailored Web App Development Solutions"
    subtitle="Our web application development service focuses on creating custom solutions to address your unique business needs. Whether you need a CRM system, project management tool, or inventory management system, we have the expertise to build a scalable and robust web application that meets your requirements."
    tagline="Service Overview"
    columns={2}
    items={[
      {
        title: 'Streamlined Processes',
        description: `Simplify complex workflows and streamline business operations with a custom web application. `,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Enhanced User Experience',
        description:
          'Provide your users with an intuitive and seamless experience, leading to increased satisfaction and productivity.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Data Security',
        description: 'Protect sensitive information and ensure compliance with data security regulations with our secure web applications.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Scalability',
        description: `Scale your web application as your business grows, with the ability to add new features and functionalities as needed.`,
        icon: 'tabler:square-number-5',
      },
      {
        title: 'Accessible Anywhere',
        description: `Access your web application from anywhere, anytime, with cloud-based solutions that offer flexibility and convenience. `,
        icon: 'tabler:square-number-6',
      },
      {
        title: 'Performance',
        description: `Ensure your web application delivers optimal performance, with fast loading times and responsive design, enhancing user satisfaction and retention.`,
        icon: 'tabler:square-number-6',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: '1. Consultation',
        description:
          'We start by understanding your business objectives, target audience, and design preferences.',
        icon: 'tabler:wand',
      },
      {
        title: '2.	Design & Development',
        description:
          'Our team of experts works tirelessly to design and develop a website that aligns with your vision and meets your requirements.',
        icon: 'tabler:settings',
      },
      {
        title: '3.	Testing & Optimization',
        description:
          'We rigorously test your website to ensure compatibility, functionality, and performance across various devices and browsers.',
        icon: 'tabler:template',
      },
      {
        title: '4.	Launch',
        description: 'Once everything is perfect, we launch your website and ensure a smooth transition to the live environment.',
        icon: 'tabler:rocket',
      },
      {
        title: '5.	Support & Maintenance',
        description: 'We provide ongoing support and maintenance to keep your website running smoothly and efficiently.',
        icon: 'tabler:tools',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">What to expect:</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Content Management System (CMS)',
        description:"Take charge of your website's content effortlessly with a robust CMS, enabling easy editing, publishing, and management of web pages, blog posts, and multimedia content.",
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Built-in Technical SEO',
        description:
          "Enhance your website's search engine visibility from the start with integrated technical SEO features, including customizable meta tags, XML sitemap generation, and schema markup implementation.",
        icon: 'tabler:file-download',
      },
      {
        title: 'Analytics Integration',
        description: "Track website performance and user behavior with seamless integration of tools like Google Analytics or Adobe Analytics. Monitor key metrics and make data-driven decisions to optimize your site.",
        icon: 'tabler:refresh',
      },
      {
        title: 'Custom Functionality',
        description: "Enhance website functionality with tailored features and integrations. Whether it's a custom contact form or interactive elements, elevate user experience to stand out from competitors.",
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">More features</h3>
    </Fragment>
  </Content>

   <!-- Brands Widget ****************** -->

   <Brands
   title="We leverage cutting-edge and latest web technologies"
   subtitle="Discover the robust web technologies we harness to create dynamic and engaging online experiences."
   icons={[]}
   images={[
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/astrojs.svg',
       alt: 'AstroJS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/payload-cms.svg',
       alt: 'PayloadCMS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/node.svg',
       alt: 'NodeJS',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/shopify.svg',
       alt: 'Shopify',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/Webflow.svg',
       alt: 'Webflow',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/react.svg',
       alt: 'React',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/wordpress.svg',
       alt: 'WordPress',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/mongodb.svg',
       alt: 'MongoDB',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/amazon-web-services.svg',
       alt: 'Amazon Web Services',
     },
     {
       src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/DigitalOcean.svg',
       alt: 'DigitalOcean',
     },
   ]}
 />


<!-- Testimonials Widget *********** -->

<Testimonials
title="What our clients say?"
testimonials={[
  {
    testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
    name: 'Cary Kennedy',
    job: 'Film director',
    image: {
      src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Cary Kennedy Image',
    },
  },
  {
    testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
    name: 'Josh Wilkinson',
    job: 'Product Manager',
    image: {
      src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Josh Wilkinson Image',
    },
  },
  {
    testimonial:
      'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
    name: 'Sidney Hansen',
    job: 'Decorator',
    image: {
      src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Sidney Hansen Image',
    },
  },
]}
callToAction={{
  target: '_blank',
  text: 'Share your experience',
  href: 'https://g.page/r/Cff6ZshVT8OXEBM/review',
  icon: 'tabler:chevron-right',
}}
/>
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions about Our Web Development Services"
    items={[
      {
        title: 'What is the typical timeline for developing a website?',
        description:
          "The timeline for website development varies depending on the complexity and features required. Typically, it can take anywhere from a few weeks to several months to complete a website project.",
      },
      {
        title: 'Can you customize the design to match our brand identity?',
        description:
          "Yes, we specialize in creating custom websites tailored to your brand identity. Our design team will work closely with you to ensure your website reflects your brand's colors, fonts, and overall aesthetic.",
      },
      {
        title: 'Will my website be mobile-friendly and responsive?',
        description: "Absolutely. We prioritize mobile responsiveness in all our website designs to ensure your site looks and functions seamlessly across various devices, including desktops, tablets, and smartphones.",
      },
      {
        title: 'Do you provide ongoing maintenance and support after the website is launched?',
        description:
          "Yes, we offer ongoing maintenance and support services to ensure your website remains secure, up-to-date, and running smoothly. Our support team is available to address any issues or updates you may need.",
      },
      {
        title: 'How do you ensure my website is optimized for search engines (SEO)?',
        description:
          "We implement best practices for on-page SEO, including optimizing meta tags, headings, and content structure. Additionally, we ensure technical aspects like site speed, mobile-friendliness, and crawlability are optimized for search engines.",
      },
      {
        title: 'Can you integrate third-party tools or platforms into my website, such as e-commerce or booking systems?',
        description:
          "Absolutely. We have experience integrating various third-party tools and platforms into websites, including e-commerce solutions, booking systems, CRM software, and more. Just let us know your requirements, and we'll handle the integration seamlessly.",
      },
    ]}
  />

 <!-- CallToAction Widget *********** -->

 <CallToAction
 actions={[
   {
     variant: 'primary',
     text: 'Get Started',
     href: '/contact',
     target: '_blank',
     icon: 'tabler:check',
   },
 ]}
>
 <Fragment slot="title">
   Let's build a website that effectively conveys your brand and draws users<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
 </Fragment>

 <Fragment slot="subtitle">
   Discover how our innovative solutions can take your business to new heights. <br class="hidden md:inline" />Let's collaborate to create a website tailored to your needs.
 </Fragment>
</CallToAction>
</Layout>
