---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/banners/about-banner.svg',
      alt: 'About Brandify Media',
    }}
  >
    <Fragment slot="title">
      Empowering Your Digital Journey: <br />
      <span class="text-accent dark:text-white highlight"> Meet Brandify Media</span>
    </Fragment>

    <Fragment slot="subtitle">
      At Brandify Media, we're more than just a development agency. We're your partners in innovation, dedicated to crafting digital solutions that propel your business forward.
    </Fragment>
  </Hero>

 <!-- Features2 Widget ************** -->

 <Features2
 title="A bit of story on how we started"
 subtitle="At Brandify Media, we believe in the transformative power of digital technology. Our journey began with a simple idea: to empower businesses of all sizes to thrive in the ever-evolving digital landscape. What started as a passion project has grown into a full-fledged digital agency, dedicated to helping clients unlock their full potential online.</br></br> Our story is one of innovation, creativity, and unwavering dedication. From humble beginnings, we've built a team of industry experts, each bringing their unique skills and perspectives to the table. Together, we've tackled challenges, overcome obstacles, and celebrated countless successes along the way. But what truly sets us apart is our commitment to our clients' success. </br></br>We understand that every business is unique, with its own set of goals, challenges, and aspirations. That's why we take the time to listen, to understand, and to tailor our solutions to meet your specific needs. Whether you're a startup looking to make your mark or an established business ready to take the next step, we're here to help. </br></br>From web development and app design to SEO strategies and e-commerce solutions, we have the expertise and experience to bring your digital vision to life. But our journey doesn't end there. We're constantly evolving, staying ahead of the curve, and pushing boundaries to deliver the best possible results for our clients. Because at the end of the day, your success is our success, and we wouldn't have it any other way.So, let's write the next chapter of your digital story together. Welcome to Brandify Media, where your success is our passion."
>
 <Fragment slot="bg">
   <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
 </Fragment>
</Features2>


  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Philosophy"
    subtitle="At Brandify Media, we believe in innovation, integrity, and excellence. Through creativity and technology, we deliver meaningful results for our clients. With collaboration, transparency, and continuous improvement, we exceed expectations, delivering exceptional value."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Clarity and Conciseness',
        description:
          'We believe in clear and concise communication, ensuring that our messages are easily understood by our clients.',
        icon: 'tabler:template',
      },
      {
        title: 'Expertise and Credibility',
        description:
          ' With a team of industry experts, we showcase deep understanding and knowledge to establish credibility and trust.',
        icon: 'tabler:template',
      },
      {
        title: 'Innovation and Creativity',
        description:
          'We infuse creativity and innovation into everything we do, delivering unique solutions that stand out in the digital world.',
        icon: 'tabler:template',
      },
      {
        title: 'Results-Oriented Approach',
        description:
          'Our commitment to delivering measurable results drives every aspect of our work, ensuring tangible outcomes for our clients.',
        icon: 'tabler:template',
      },
      {
        title: 'Reliability and Trustworthiness',
        description:
          'We prioritize reliability and trust, delivering on our promises and building long-lasting relationships based on transparency and integrity.',
        icon: 'tabler:template',
      },
      {
        title: 'Approachability and Authenticity',
        description:
          'While maintaining professionalism, we strive to be approachable and authentic, fostering genuine connections with our clients.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:check',
      },
    ]}
  >
    <Fragment slot="title">
      Ready to Build your vision with Us?<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Discover how our innovative solutions can take your business to new heights. <br class="hidden md:inline" />Let's collaborate to create a digital strategy tailored to your needs.
    </Fragment>
  </CallToAction>
</Layout>
