---
import Layout from '~/layouts/PageLayout.astro';
import Stats from '~/components/widgets/Stats.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Brandify Media - Best Web Development Company in Abu Dhabi',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Solutions',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:bulb',
      },
      { text: 'Projects', href: '#features', icon: 'tabler:folder', },
    ]}
    image={{ src: '~/assets/images/hero-image.svg', alt: 'Brandify Media Hero Image' }}
  >
    <Fragment slot="title">
      Transforming
 <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> Digital Experiences</span> that define brands.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Brandify Media</span> is focused on innovation and creativity, offering a comprehensive suite of services including web design and development, app development, user experience design, and e-commerce solutions. </span
      >
      <span class="block mb-1 sm:hidden font-light text-dark-600">Brandify Media is focused on innovation and creativity, offering a comprehensive suite of services including web design and development, app development, user experience design, and e-commerce solutions. </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Stats Widget ****************** -->

  <Stats
    title="Driving Digital Success: Our Impact in Numbers"
    subtitle="Discover the measurable impact of partnering with Brandify Media. From increased conversions to lightning-fast websites, explore the statistics that showcase our commitment to driving digital success for our clients."
    stats={[
      { title: 'Performance', amount: '+50%' },
      { title: 'Bug-free code', amount: '99%' },
      { title: 'User Ratings', amount: '5*' },
      { title: 'Client Retention', amount: '75%' },
    ]}
  />

    <!-- Features2 Widget ************** -->

    <Features2
    title="Elevate Your Digital Presence"
    subtitle="Explore Our Comprehensive Suite of Digital Solutions"
    tagline="Transforming Ideas into Digital Brilliance"
    items={[
      {
        title: 'Web Development',
        description: "Craft visually stunning and highly functional websites tailored to your brand's unique needs.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'App Development',
        description:
          "Turn your app idea into reality with our expert team of developers and designers.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Web Application',
        description:
          "Build custom web applications to streamline your business processes and enhance user experience.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'E-Commerce Solutions',
        description:
          "Unlock the full potential of your online store with our customized e-commerce solutions.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Hosting',
        description:
          "Ensure reliable hosting for your website with our secure and scalable hosting services.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Payment Gateways',
        description: "Seamlessly integrate payment gateways to streamline transactions and enhance user experience.",
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'SEO',
        description: "Boost your online visibility and drive organic traffic with our strategic SEO solutions.",
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Website Themes',
        description:
          "Browse our collection of themes and templates to find the perfect design for your website.",
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Digital Transformation',
        description: "Embrace innovation and leverage technology to transform your business for the digital age.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

    <!-- Brands Widget ****************** -->

    <Brands
    title="Our Web Technology Arsenal"
    subtitle="Discover the robust web technologies we harness to create dynamic and engaging online experiences."
    icons={[]}
    images={[
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/astrojs.svg',
        alt: 'AstroJS',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/payload-cms.svg',
        alt: 'PayloadCMS',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/node.svg',
        alt: 'NodeJS',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/shopify.svg',
        alt: 'Shopify',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/Webflow.svg',
        alt: 'Webflow',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/react.svg',
        alt: 'React',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/ionic-framework.svg',
        alt: 'Ionic Framework',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/wordpress.svg',
        alt: 'WordPress',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/mongodb.svg',
        alt: 'MongoDB',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/amazon-web-services.svg',
        alt: 'Amazon Web Services',
      },
      {
        src: 'https://brandify-site-images.s3.me-central-1.amazonaws.com/brand-logos/DigitalOcean.svg',
        alt: 'DigitalOcean',
      },
    ]}
  />


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Partner with Confidence, Thrive with Expertise"
    title="What you'll get working with Brandify"
    subtitle="Explore the compelling reasons why businesses trust Brandify Media for their development needs."
    items={[
      {
        title: 'Personalized Approach',
        description:
          'Enjoy a tailored experience with Brandify Media, where your unique needs and vision are at the forefront of everything we do.',
          icon: 'tabler:components',
      },
      {
        title: 'Innovation',
        description:
          'Stay ahead of the curve with our innovative approach, embracing the latest trends and technologies to drive your success.',
        icon: 'tabler:components',
      },
      {
        title: 'Impactful Solutions',
        description:
          'Our solutions are designed to make a real difference, translating into tangible benefits and bottom-line growth for your business.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Results',
        description:
          'Experience measurable outcomes with our results-oriented strategies, focused on delivering tangible value and ROI for your business.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Performance-driven',
        description:
          'From increased conversions to improved user engagement, our focus on results ensures your digital efforts generate meaningful impact.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Continuous Optimization',
        description:
          "We don't just deliver results; we constantly optimize and refine our strategies to ensure ongoing success and growth for your business.",
        icon: 'tabler:bulb',
      },
    ]}
  />

 <!-- Testimonials Widget *********** -->

 <Testimonials
 title="What our clients say?"
 testimonials={[
   {
     testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
     name: 'Cary Kennedy',
     job: 'Film director',
     image: {
       src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
       alt: 'Cary Kennedy Image',
     },
   },
   {
     testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
     name: 'Josh Wilkinson',
     job: 'Product Manager',
     image: {
       src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
       alt: 'Josh Wilkinson Image',
     },
   },
   {
     testimonial:
       'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
     name: 'Sidney Hansen',
     job: 'Decorator',
     image: {
       src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
       alt: 'Sidney Hansen Image',
     },
   },
 ]}
 callToAction={{
   target: '_blank',
   text: 'Share your experience',
   href: 'https://g.page/r/Cff6ZshVT8OXEBM/review',
   icon: 'tabler:chevron-right',
 }}
/>


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`Dive into our blog to discover expert advice on web development, app design, e-commerce strategies, SEO best practices, and more. Whether you're a seasoned entrepreneur or just starting your digital journey, our informative articles and engaging content are tailored to help you stay ahead of the curve and succeed in the ever-evolving landscape of digital marketing. 
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Discover answers to commonly asked questions about Brandify Media's services, processes, and expertise."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What services does Brandify Media offer??',
        description:
          "Brandify Media offers a comprehensive range of digital solutions including web development, app development, e-commerce solutions, SEO services, hosting, payment gateway integration, and themes/templates.",
      },
      {
        title: 'How long does it take to develop a website or app?',
        description:
          'The timeline for website or app development varies depending on the complexity of the project, features required, and client specifications. We work closely with clients to establish realistic timelines and strive to deliver projects within agreed-upon deadlines.',
      },
      {
        title: 'Can I see examples of your previous work?',
        description:
          "Absolutely! We have a portfolio showcasing our previous projects across various industries. Feel free to explore our portfolio to see examples of our web development, app development, e-commerce solutions, and more. Additionally, we can provide case studies and client testimonials upon request for a more in-depth understanding of our capabilities and expertise.",
      },
      {
        title: 'Can you help with website maintenance and updates?',
        description:
          "Yes, we offer website maintenance services to ensure your website remains up-to-date, secure, and performing optimally. Our team can handle regular updates, security patches, content changes, and more, allowing you to focus on your core business activities.",
      },
      {
        title: 'What is SEO, and why is it important for my website?',
        description:
          "SEO (Search Engine Optimization) is the process of optimizing your website to improve its visibility in search engine results pages (SERPs). It is crucial for attracting organic traffic and increasing your website's visibility, which ultimately leads to higher rankings and more potential customers.",
      },
      {
        title: 'How do I choose the right hosting plan for my website?',
        description:
          "Choosing the right hosting plan depends on factors such as website traffic, storage requirements, security needs, and budget. Our team can assess your specific requirements and recommend a hosting plan that aligns with your goals and ensures optimal performance for your website.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:check',
      },
    ]}
  >
    <Fragment slot="title">
      Transform Your Digital Vision into Reality with Brandify Media<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Discover how our innovative solutions can take your business to new heights. <br class="hidden md:inline" />Let's collaborate to create a digital strategy tailored to your needs.
    </Fragment>
  </CallToAction>
</Layout>
